.container {
  position: relative;
  padding-bottom: 2rem;
}
.flightImg {
  padding: 1rem;
}

.flightDetail {
  background-color: var(--secondary-bg);
  padding: 2.4rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flightDetailInfo {
  padding-bottom: 1.4rem;
}

.flightDetailInfo > h5 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0px;
  text-align: center;
}
.flightDetailInfo > p {
  color: var(--btn-color);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
}
.flightDetailTiming > p {
  line-height: 2.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
}

.flightDetailTiming p:nth-child(3) {
  color: var(--btn-color);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
}

.charges {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 3rem 2.6rem 7rem 2.6rem;
}

.chargesRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.4rem 3rem;
}

.container > button {
  padding: 1.2rem 2rem;
  background-color: var(--btn-color);
  color: white;
  border-style: none;
  font-size: 1.68rem;
  border-radius: 4px;
  position: absolute;
  right: 7%;
  bottom: 6%;
}
@media only screen and (min-width: 32em) {
  .container {
    max-width: 42rem;
    margin: 3rem auto;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    margin-left: 2rem;
    min-width: 27rem;
  }
  .flightDetail:hover {
    cursor: pointer;
  }
  .flightDetail {
    flex: 1;
  }

  .charges {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 3rem 2.6rem 7rem 2.6rem;
  }

  .chargesRow {
    padding: 0.5rem 0;
  }
  .chargesRow > span {
    margin-inline-end: 4rem;
  }
  .container > button {
    padding: 1.2rem 2rem;
    background-color: var(--btn-color);
    color: white;
    border-style: none;
    font-size: 1.68rem;
    border-radius: 4px;
    position: absolute;
    right: 7%;
    bottom: 43%;
  }
  .container > button:hover {
    cursor: pointer;
  }
}
