.container {
  display: flex;
  font-size: 1.6rem;
  line-height: 2.5rem;
  background-color: var(--secondary-bg);
  border-radius: 0.6rem;
  padding: 2.4rem;
  margin-bottom: 2px;
}
.container:hover {
  cursor: pointer;
}
.flightInfoCol {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.flightInfoName p:nth-child(2) {
  color: var(--link-color);
}
.flightInfoRow {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.flightInfoRow p:nth-child(2) {
  color: var(--link-color);
}
