.passengerForm {
  margin: 2rem 0;
}

.container {
  border-radius: 8px;
  background-color: #fff;
  padding: 2rem;
}

.container h1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--link-color);
  padding: 0.5rem 0;
}
.container p {
  font-size: 13px;
  padding: 0.5rem 1rem 0.5rem 0;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--link-color);
}

.formFields > input {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  padding: 8px, 12px, 8px, 12px;
  font-size: 1.6rem;
  margin: 0.5rem 0;
  border-style: none;
  text-indent: 1rem;
  border: 1px solid rgb(207, 207, 207);
}

.container > form > button {
  height: 48px;
  width: 100%;
  border-radius: 4px;
  padding: 12px, 20px;
  border-style: none;
  background-color: var(--btn-color);
  color: #fff;

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;

  margin-top: 0.8rem;
}

.requiredInputField {
  display: block;
}

.requiredInputField {
  display: block;
  background-color: var(--error-bg);
  padding: 0 1rem;
  border-radius: 4px;
  /* border: 1px solid var(--error-color); */
}

.requiredInputField > p {
  color: var(--error-color);
}

.requiredInputFieldOffScreen {
  display: none;
}
@media only screen and (max-width: 28em) {
}
