.container {
  position: absolute;
  inset: 0 0 0 20%;
  background-color: var(--secondary-bg);
  padding: 4.2rem 2.4rem 9rem 2rem;
  z-index: 1;
}

.sidebarClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.navigation li {
  font-size: 1.7rem;
  color: #58646eac;
  padding: 2rem 1rem;
}

.button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.button > button {
  padding: 1.6rem 5.3rem;
  border-radius: 4px;
  font-size: 1.4rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  color: #424b5a;
  background-color: transparent;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
  border: 1px solid;
}

@media only screen and (min-width: 26em) {
}
