.container {
  position: relative;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assests/Icons/worldMap.png");
}

.spaceManImg {
  margin-bottom: 15rem;
  align-items: center;
}

.alert {
  border-radius: 8px;
  margin-top: 1.4rem;
  background-color: var(--success-bg);
  padding: 2rem;
  margin-bottom: 9rem;
  border: 1px solid var(--success-color);
  display: flex;
}

.alert > p {
  color: var(--success-color);
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
